---
import { Image } from 'astro:assets'
import road from '~/assets/road.jpg'

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <div id="container">
      <Image src={road} alt="" loading="eager" />
    </div>
  </body>
</html>

<style>
  html, body {
    min-height: 100%;
  }

  body {
    height: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  div#container {
    max-width: 720px;
    margin-inline: auto;
  }
</style>
